{{> /common/header }}
<div class="py-2 border-bottom d-flex justify-content-between">
	<h5 class="fs-5">#다양한 모임을 한눈에 확인하세요.</h5>
</div>
<div class="text-end pt-1">
	<a href="/moims/create" class="btn btn-success btn-sm "><i
		class="bi bi-plus-circle me-1"></i><span>모임 개설</span></a>
</div>
<div class="flex-wrap row px-1">
	{{#moims }}
	<div class="col-md-6 col-lg-4 px-1 py-2" style="font-size: 0.7em">
		<div class="card">
			<div class="card-header">
				<span class="card-subtitle text-body-secondary ">{{cate}}</span>
			</div>
			<div class="card-body">
				<h5 class="card-title mb-0">{{title}}</h5>
				<p class="card-text" style="height: 40px; font-size: 0.9rem">
					{{description}}</p>
				<div class="text-end">
					<a href="/moims/view?id={{id}}"
						class="stretched-link link-secondary" style="font-size: 0.5rem">자세히</a>
				</div>
			</div>
			<div class="card-footer text-end">
				<span>모임주최자:{{manager.nick}}</span>
			</div>
		</div>
	</div>
	{{/moims }}
</div>
<ul class="pagination pagination-sm justify-content-end mt-3">
	{{#pagination.prev.active }}
		<li class="page-item">
			<a class="page-link" href="/moims?p={{pagination.prev.value}}">Preivous</a></li>
	{{/pagination.prev.active }}

	{{#pagination.pages }}
		{{#active }}
			<li class="page-item active">
				<a class="page-link" href="/moims?p={{value}}">{{value}}</a></li>
		{{/active }}
		{{^active }}
			<li class="page-item">
				<a class="page-link" href="/moims?p={{value}}">{{value}}</a></li>
		{{/active }}
	{{/pagination.pages }}
	
	{{#pagination.next.active }}
		<li class="page-item">
			<a class="page-link" href="/moims?p={{pagination.next.value}}">Next</a></li>
	{{/pagination.next.active }}
	
</ul>
{{ > /common/footer }}
