{{> /common/header }}
<div class="py-2 border-bottom">
	<h5 class="fs-5">#다양한 사용자를 찾아보세요.</h5>
</div>

<form class="my-2 p-2" method="get" action="search">
	<div class="row ">
		<div class="col-sm-10">
			<input type="text" class="form-control" name="q"/>
		</div>
		<div class="col-sm-2">
			<button class="btn btn-outline-primary form-control">검색</button>
		</div>
	</div>
</form>
{{ > /common/footer }}
  